:root {
    /*  Biến quản lý font size */
    --fz-10: 1rem;
    --fz-12: 1.2rem;
    --fz-14: 1.4rem;
    --fz-15 : 1.5rem;
    --fz-16 : 1.6rem;
    --fz-22 : 2.2rem;
    --fz-18 : 1.8rem;
    --fz-24  :2.4rem;
    --fz-28 : 2.8rem;
    --fz-32: 3.2rem;
    --fz-40: 4rem;
    --fz-45: 4.5rem;

    /*  Biến quản lý color */
    --main-color : #009999;
    --black-color: #333333;
    --white-color: #ffffff;
    --gray100-color: #eeeeee;
    --gray900-color: #7A7A7A;
    /* fontfamily*/
    --font-family : Poppins, sans-serif
}
 * {
    box-sizing: border-box;

}


html {
    font-family: Roboto,sans-serif;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    color: black;
}
    

ol,ul {
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}






 



    












